:root{
    --main-color: #1f2937;
    --herosec-maintext: 48px;
    --herosec-maincolor: #f9faf8;
    --herosec-mainweight: 900;
    --sublink-fsize: 18px;
    --sublink-color: #e5e7e8;
    --callbtn-bgcolor: #3882f8;
    --info-fsize: 36px;
    --info-fcolor: #1f2937;
    --info-weight: 900;

}

@font-face {
    font-family: robo-med;
    src: url(/fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: robo-con;
    src: url(/fonts/2Roboto_Condensed-Black.ttf);
}

body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    width: 100vw;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    gap: 100px;
}

.logo{
    width: auto;
    height: 50px;
    border-radius: 50%;

}
a{
    text-decoration: none;
    color: var(--sublink-color);
}
.links{
    display: flex;
    flex-direction: row;
    font-family: Roboto;
    font-size: var(--sublink-fsize);
    list-style-type: none;
    gap: 15px;
    
}

/* hero section */
.herosec{
    width: 100vw;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: var(--main-color);
    padding: 50px;
}
#heroimg{
    height: 200px; 
    border: none;
    border-radius: 10px;
    box-shadow: 0px 10px 30px #090c10 ;
}
.intro{
    color: var(--herosec-maincolor);
    font-family: roboto;
}
#herotitle{
    font-family: Roboto;
    font-size: var(--herosec-maintext);
    font-weight: var(--herosec-mainweight);
}
#herosub, #button{
    font-size: 18px;
    color: var(--sublink-color);
}
#button{
    background-color: var(--callbtn-bgcolor);
    display: inline-block;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}
#button:hover{
    cursor: pointer;
}
